
<section class="about-page wrapper" id="anchor1" >
  <div class="container about-container">
    <div class="about-page-block">
      <h2 class="about-page-title">
        YachtJet fleet is here to take you on the ultimate adventure
      </h2>
      <div class="about-page-box">
        <h3 class="about-page-subtitle">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </h3>
        <p class="about-page-text">
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </p>
      </div>
    </div>
    <picture class="about-page-picture">
      <source
        media="(max-width: 767px)"
        srcset="/img/about/about-mob-x1.jpg 1x, /img/about/about-mob-x2.jpg 2x"
      />
      <source
        media="(max-width: 1279px)"
        srcset="/img/about/about-tab-x1.jpg 1x, /img/about/about-tab-x2.jpg 2x"
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          /img/about/about-desk-x1.jpg 1x,
          /img/about/about-desk-x2.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="/img/about/about1440-x1.jpg 1x, /img/about/about1440-x2.jpg 2x"
      />
      <img
        class="about-page-photo"
        src="/img/about/about1440-x1.jpg"
        alt="yacht"
      />
    </picture>
  </div>
</section>

