<section class="wrapper">
<div class="container">
  <div class="advantages-container">
    <h2 class="advantages-hidden hiden-css">Advantages</h2>
    <div class="advantages-txt-container">
      <ol class="advantages-list">
        <li class="advantages-list-item">
          <p class="advantages-list-number">01</p>
          <hr class="advantages-line" />
          <p class="advantages-list-txt advantages-list-txt-first">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-number">02</p>
          <hr class="advantages-line" />
          <p class="advantages-list-txt">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-number">03</p>
          <hr class="advantages-line" />
          <p class="advantages-list-txt advantages-list-txt-sekond">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-list-number">04</p>
          <hr class="advantages-line" />
          <p class="advantages-list-txt advantages-list-txt-sekond">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="advantages-img-container">
      <picture>
        <source
          srcset="
            /img/advantages/advantages1440-x1.jpg   1x,
            /img/advantages/advantages1440-x2.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            /img/advantages/advantages-desk-x1.jpg 1x,
            /img/advantages/advantages-desk-x2.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /img/advantages/advantages-tab-x1.jpg 1x,
            /img/advantages/advantages-tab-x2.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/advantages/advantages-mob-x1.jpg 1x,
            /img/advantages/advantages-mob-x2.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="advantages-img"
          src="/img/advantages/advantages-mob-x1.jpg"
          alt="restaurant on a yacht"
          width="335"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</div>
  
</section>

