<footer>
<div class="container">
    <footer class="page-footer">
        <div class="footer-content">
            <a class="footer-logo" href="./index.html"> <span>yachtjet</span></a>
            <id class="menu-footer-content">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a class="menu-link current" href="./index.html">About</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="">Yachts</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-item" href="">Reviews</a>
                        </li>
                    </ul>
            </id>
        </div>
        <div class="icons">
            <ul class="icons-footer">
                <li class="icon-item">
                    <a href class="icon-link-fot">
                        <svg class="icon-icon" width="19" heidht="19">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="icon-item">
                    <a href class="icon-link-fot">
                        <svg class="icon-icon" width="19" heidht="19">
                            <use href="/img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="icon-item">
                    <a href class="icon-link-fot">
                        <svg class="icon-icon" width="19" heidht="19">
                            <use href="/img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <h2 class="footer-title">No matter which yacht you choose, our experienced crew will ensure that your
            journey is smooth and enjoyable.</h2>
        <div class="footer-consent">
            <h3 class="footer-consent-text">2023. Yacht Adventures</h3>
            <a href="" class="accept-link">Privacy Policy</a>
        </div>
    </footer>
</div>
</footer>
