
    <div class=" header-container">
        <div class="header-content">
            <a href="/index.html" class="header-logo">yachtjet</a>
            <nav>
                <ul class="header-nav-list">
                    <li class="header-nav-link">
                        <a href="#anchor1" >ABOUT</a>
                    </li>
                    <li class="header-nav-link">
                        <a href="#anchor2" >YACHTS</a>
                    </li>
                    <li class="header-nav-link">
                        <a href="#anchor3" >REVIEWS</a>
                    </li>
                </ul>
            </nav>
            <address>
                <ul class="header-addres-list">
                    <li>
                        <a href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg width="24" height="24" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg width="24" height="24" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg width="24" height="24" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </address>
            <button
            class="js-open-menu burger-btn"
            aria-expanded="true"
            type="button">
                <svg class="header-burger-icon" width="28" height="28">
                    <use href="/img/icons.svg#icon-menu"></use>
                </svg>
            </button>
        </div>
    </div>

