<section class="wrapper">
    <div class="container">
        <div class="header-container">
            <a href="/index.html" class="header-logo">yachtjet</a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-link">
                        <a href="#anchor1">About</a>
                    </li>
                    <li class="nav-link">
                        <a href="#anchor2">Yachts</a>
                    </li>
                    <li class="nav-link">
                        <a href="#anchor3">Reviews</a>
                    </li>
                </ul>
            </nav>
            <address>
                <ul class="addres-list">
                    <li>
                        <a href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg width="19" height="19" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg width="20" height="20" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg width="20" height="20" class="header-icon-addres">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </address>
            <button class="burger-btn" type="button">
                <svg class="header-burger-icon" width="28" height="28">
                    <use href="/img/icons.svg#icon-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
