<section class="wrapper yachts" id="anchor2">
  <div class="container our-container">
    <h2 class="our-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-list">
      <li class="our-item-first">
        <picture>
          <source
            srcset="
              ./img/yahts/yaht1440-x1.jpg 1x,
              ./img/yahts/yaht1440-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/yahts/yaht1-desk-x1.jpg 1x,
              ./img/yahts/yaht1-desk-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/yahts/yaht-tab-x1.jpg 1x,
              ./img/yahts/yaht-tab-x2.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/yahts/yaht-mob-x1.jpg 1x,
              ./img/yahts/yaht-mob-x2.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./img/yahts/yaht1440-x1.jpg"
            alt="Arrow"
            width="360"
            class="our-image"
          />
        </picture>
        <div class="our-name">
          <h3 class="our-subtitel">Arrow</h3>
          <p class="our-rang">LUXURY YAHTS</p>
        </div>
        <hr class="our-line-mob" />
        <div class="our-descript">
          <div class="our-descript-name">
            <p class="our-descript-name-txt">LENGTH</p>
            <p class="our-descript-name-txt">BUILDER</p>
            <p class="our-descript-name-txt">BUILT</p>
            <p class="our-descript-name-txt">GUESTS</p>
            <p class="our-descript-name-txt">PRICE</p>
          </div>
          <div class="our-descript-item">
            <p class="our-descript-item-txt">48m(155ft)</p>
            <p class="our-descript-item-txt">Admiral</p>
            <p class="our-descript-item-txt">2021</p>
            <p class="our-descript-item-txt">11 in 5 cabins</p>
            <p class="our-descript-item-txt">€33,500,000</p>
          </div>
        </div>
      </li>
      <li class="our-item-second">
        <picture>
          <source
            srcset="
              .//img/yahts/yaht1440-2-x1.jpg 1x,
              .//img/yahts/yaht1440-2-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              .//img/yahts/yaht2-desk-x1.jpg 1x,
              .//img/yahts/yaht2-desk-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              .//img/yahts/yaht2-tab-x1.jpg 1x,
              .//img/yahts/yaht2-tab-x2.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="../img/yahts/yaht2-desk-x1.jpg"
            alt="Arrow"
            width="360"
            class="our-image"
          />
        </picture>
        <div class="our-name">
          <h3 class="our-subtitel">BENETTI OASIS 40M BO122</h3>
          <p class="our-rang">LUXURY YAHTS</p>
        </div>
        <hr class="our-line-mob" />
        <div class="our-descript">
          <div class="our-descript-name">
            <p class="our-descript-name-txt">LENGTH</p>
            <p class="our-descript-name-txt">BUILDER</p>
            <p class="our-descript-name-txt">BUILT</p>
            <p class="our-descript-name-txt">GUESTS</p>
            <p class="our-descript-name-txt">PRICE</p>
          </div>
          <div class="our-descript-item">
            <p class="our-descript-item-txt">41m (133ft)</p>
            <p class="our-descript-item-txt">Benetti</p>
            <p class="our-descript-item-txt">2025</p>
            <p class="our-descript-item-txt">10 in 5 cabins</p>
            <p class="our-descript-item-txt">€23,210,000</p>
          </div>
        </div>
      </li>
      <li class="our-item-three">
        <picture>
          <source
            srcset="
              ./img/yahts/yaht1440-3-x1.jpg 1x,
              ./img/yahts/yaht1440-3-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/yahts/yaht3-desk-x1.jpg 1x,
              ./img/yahts/yaht3-desk-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="./img/yahts/yaht1440-3-x1.jpg"
            alt="Arrow"
            width="360"
            class="our-image"
          />
        </picture>
        <div class="our-name">
          <h3 class="our-subtitel">BELLE ANNA</h3>
          <p class="our-rang">LUXURY YAHTS</p>
        </div>
        <hr class="our-line-mob" />
        <div class="our-descript">
          <div class="our-descript-name">
            <p class="our-descript-name-txt">LENGTH</p>
            <p class="our-descript-name-txt">BUILDER</p>
            <p class="our-descript-name-txt">BUILT</p>
            <p class="our-descript-name-txt">GUESTS</p>
            <p class="our-descript-name-txt">PRICE</p>
          </div>
          <div class="our-descript-item">
            <p class="our-descript-item-txt">50m(155ft)</p>
            <p class="our-descript-item-txt">ISA</p>
            <p class="our-descript-item-txt">2012</p>
            <p class="our-descript-item-txt">12 in 6 cabins</p>
            <p class="our-descript-item-txt">€21,000,000</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="our-btn">
      <a class="our-btn-txt" href="#anchor4">Yacht rental</a>
    </div>
  </div>
</section>
