<div class="preloader">
    <p class="preloader-txt">
      <span class="letter">&lt;</span>
      <span class="letter">d</span>
      <span class="letter">i</span>
      <span class="letter">v</span>
      <span class="letter">&gt;</span>
      <span class="letter">e</span>
      <span class="letter">l</span>
      <span class="letter">o</span>
      <span class="letter">p</span>
      <span class="letter">e</span>
      <span class="letter">r</span>
      <span class="letter"> </span>
      <span class="letter studio">s</span>
      <span class="letter studio">t</span>
      <span class="letter studio">u</span>
      <span class="letter studio">d</span>
      <span class="letter studio">i</span>
      <span class="letter studio">o</span>
    </p>
    <span class="loader">Please wait, loading</span>
  </div>