<!--  /* about-us */ -->

.about-page {
  margin-top: -59px;
  padding-bottom: 80px;
}

.about-container {
  background-color: #fbfbfb;
  border-radius: 24px;
}

.about-page-block {
  padding: 40px 20px;
}

.about-page-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  color: #1b414b;
  margin-bottom: 40px;
}

.about-page-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #1b414b;
  margin-bottom: 20px;
}

.about-page-text {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(4, 3, 6, 0.4);
}

.about-page-photo {
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .about-page {
    margin-top: -67px;
    padding-bottom: 150px;
  }

  .about-page-block {
    padding-top: 50px;
    padding-right: 136px;
    padding-bottom: 50px;
    padding-left: 32px;
  }

  .about-page-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about-page-box {
    max-width: 389px;
  }

  .about-page-subtitle {
    font-size: 23px;
  }

  .about-page-text {
    font-size: 13px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .about-page {
    margin-top: -35px;
    padding-bottom: 150px;
  }

  .about-page-block {
    display: flex;
    gap: 189px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
  }

  .about-page-title {
    margin-bottom: 0;
    max-width: 537px;
  }



  .about-page-box {
    max-width: 354px;
  }
}

@media screen and (min-width: 1440px) {
  .about-page-block {
    display: flex;
    gap: 299px;
  }

  .about-page-box {
    max-width: 404px;
  }
}
