@keyframes flipIn {
  0% {
      transform: rotateY(-90deg);
      opacity: 0;
  }
  100% {
      transform: rotateY(0);
      opacity: 1;
  }
}

@keyframes flipOut {
  0% {
      transform: rotateY(0);
      opacity: 1;
  }
  100% {
      transform: rotateY(90deg);
      opacity: 0;
  }
}
.mob-window {
  transform: rotateY(90deg);
            opacity: 0;
            transition: opacity 500ms ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  min-height: 100%;
  background: #0e1823;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 16px 20px 40px;
}

.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: rotateY(0);
  opacity: 1;
  animation: flipIn 500ms forwards;
}

.is-closing {
  transform: rotateY(0);
  opacity: 1;
  pointer-events: none;
  animation: flipOut 500ms forwards;
  transition: none;
  visibility: visible;
}

.mob-menu-container {
  position: relative;
  max-width: 335px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  border: 1px solid #fbfbfb;
  background: #fbfbfb;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}

.menu-logo-mob {
  color: #1b414b;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
  margin-left: 20px;
}

.mob-menu-close-btn {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-navigation {
  display: flex;
  margin-top: 201px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu-item {
  display: flex;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background: #1b414b80;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item:focus,
.mob-menu-item:hover {
  background-color: #FBFBFB;
}

.mob-menu-link:focus,
.mob-menu-link:hover {
  color: #1b414b;
  line-height: 130%;
text-transform: uppercase;
}

.mob-menu-one {
  background-color: #1b414b;;
}

.mob-menu-link {
  color: #fbfbfb;
  text-align: center;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  padding: 10px 20px;
}

.mob-menu-social-group {
  display: flex;
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 40px;
}

.mob-menu-social-list {
  display: flex;
  gap: 8px;
  transform: translateX(-50%);
}

.mob-social-list-icon {
  fill: #fbfbfb;
}

.mob-social-list-icon:focus,
.mob-social-list-icon:hover {
  fill: #fbfbfbcc;
}

@media screen and (min-width: 768px) {
  .mob-window {
    display: none;
  }
}
