/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./mob_menu.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./our_yachts.css');
@import url('./advantages.css');
@import url('./rent_a_yacht.css');
@import url('./reviews.css');
@import url('./footer.css');

